<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.4/css/bulma.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Biznasearch</title>
</head>
<body>
<div id="app">
    <section class="section">
        <div class="container" id="main">
            <h1 class="title">
                <i class="fas fa-search"></i>
                Biznasearch
            </h1>

            <p class="subtitle">
                Search engine for Yelp businesses.
            </p>

            <hr>

            <div class="form">        
                <div class="field has-addons">
                    <div :class="{'control': true, 'is-loading': loading.results}">
                        <input class="input is-rounded" @keyup.enter="fetchNewResults"
                            placeholder="Query..." type="text" v-model="query">
                        </input>
                    </div>

                    <div class="control">
                        <button @click="fetchNewResults" class="button is-primary" :disabled="loading.results">Search</button>
                    </div>

                    <div class="stats-for-geeks" v-show="stats.queryResults > 0">
                        <small>{{stats.queryResults }} result{{ (stats.queryResults > 1) ? 's' : ''}} in {{ stats.queryTimeMs }} ms</small>
                    </div>
                </div>

                <div style="float: right; margin-top: -40px;">
                    <div><small>Order by</small></div>
                    <div class="select">
                        <select v-model="orderBy">
                            <option value="">Default</option>
                            <option value="-stars">Stars descending</option>
                            <option value="stars">Stars ascending</option>
                            <option value="-review_count">Number of reviews descending</option>
                            <option value="review_count">Number of reviews</option>
                            <option value="clicks">Number of clicks ascending</option>
                            <option value="-clicks">Number of clicks descending</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="query-suggestions" v-show="querySuggestions.length > 0">
                <div v-for="querySuggestion in querySuggestions" class="query-suggestion"
                    @click="fetchFromQuerySuggestion(querySuggestion.text)">
                    {{ querySuggestion.text }}
                </div>
            </div>

            <div class="suggestions" v-show="suggestions.length > 0">
                Search instead for: 
                <a href="#" @click="query=suggestion; fetchNewResults()"
                    v-for="suggestion in suggestions" class="button is-small suggestion">
                    {{ suggestion }}
                </a>
            </div>

            <div class="results">
                <div class="box clickable" v-for="r in results" @click="selectedBusiness=r">
                    <article class="media">
                        <div class="media-content">
                            <div class="content">
                                <strong><span class="fas fa-building"></span> {{ r.name }}</strong><br>

                                <small>{{ r.city }}</small>

                                <br>
                                <small v-for="index in r.stars">
                                    <span class="fas fa-star"></span>
                                </small>
                                <small>Reviews: {{ r.reviewCount }}</small>

                                <br>

                                <div class="is-pulled-right">
                                    <span class="address">
                                        <span class="fas fa-map-marked"></span> {{ r.address }}
                                    </span> <br>

                                    <span class="postal-code">
                                        <span class="fas fa-mail-bulk"></span> {{ r.postalCode }}
                                    </span>
                                </div>
                                <br>
                                <hr>

                                <div class="categories is-pulled-right">
                                    <span class="tag is-info category" v-for="c in r.categories.split(',')">
                                        {{ c }}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>


            <div class="modal is-active" v-if="selectedBusiness !== null">
                <div class="modal-background"></div>
                <div class="modal-content">
                    <div class="box">
                        <div class="title">{{ selectedBusiness.name }}</div>
                        <div class="subtitle"><span class="fas fa-map-marked"></span> {{ selectedBusiness.city }}</div>
                        <hr>

                        <div><strong>Stars:</strong>{{ selectedBusiness.stars }}</div>
                        <div><strong>Total reviews:</strong>{{ selectedBusiness.reviewsCount }}</div>
                        <div><strong>Address:</strong>{{ selectedBusiness.address }}</div>
                        <div><strong>Postal Code:</strong>{{ selectedBusiness.postalCode }}</div>
                        <div><strong>Categories:</strong>{{ selectedBusiness.categories }}</div>
                        <div><strong>Stars:</strong>{{ selectedBusiness.stars }}</div>
                        <div><strong>Clicks:</strong>{{ selectedBusiness.clicks }}</div>

                        <hr>
                        <div class="button is-rounded is-primary is-pulled-right"
                            @click="selectedBusiness=null">Close</div>
                    </div>
                </div>
                <button class="modal-close is-large" aria-label="close" @click="selectedBusiness=null"></button>
            </div>

        </div>

        <hr>

        <footer class="footer">
            <div class="content has-text-centered">
                <p>
                    <strong>Biznasearch</strong> by Achilleas Alvaro Hysi and Dimitrios N. Kouveris<br>
                    Developed using Lucene for <span class="is-color-primary">information retrieval</span> course<br>
                    <small>Computer Science &amp; Engineering Department, UOI</small>
                </p>
            </div>
        </footer>
    </section>
</div>

<script src="app.js"></script>
</body>
</html>
