.results {
    margin-top: 20px;
}

.suggestions {
    margin-top: 5px;
}
.suggestion {
    margin-left: 2px;
}

.category {
    margin-right: 5px;
}

.stats-for-geeks {
    position: absolute;
    right: 10px;
    color: rgb(100, 100, 100);
}

#main {
    min-height: 70vh;
}

.clickable:hover {
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
    margin-top: -4px;
}
